body {
  background: orange;
  padding: 80px 0 0 0;







ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  width: 30%;
  border: 1px solid #333;
  
}

#done {
  text-decoration: line-through;
  color: #888;
}
